
:root {
  --searchbarHeight: 175px;
  --resultsListWidth: 200px;
  --resultsListTransition: width .4s;
  --resultsListTransitionTiming: cubic-bezier(.84,1.61,.43,.84); 
}




/* ------------ FORM ----------- */
.form-valid {
  box-shadow: 0px 3px 1px rgb(1, 155, 1);
}

.form-invalid {
  box-shadow: 0px 3px 1px rgb(255, 60, 0);
}











/* -------------- SEARCHBAR ------------------ */
.initial-search-searchbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: lightgreen;
}

.initial-search-searchbar-content {
  display: flex;
}

.post-search-searchbar {
  display: flex;
  height: var(--searchbarHeight);
  width: 100vw;
  background-color: lightskyblue;
}








/* --------------- PROPERTY DETAIL CONTAINER ------------------ */ 
.home-main {
  height: calc(100vh - var(--searchbarHeight));
  display: flex;
}

.property-container-outer {
  width: calc(100vw - var(--resultsListWidth));
  background-color: lightgoldenrodyellow;
  transition: var(--resultsListTransition);
  transition-timing-function: var(--resultsListTransitionTiming);
}












/* --------------- PROPERTY RESULTS LIST ------------------ */ 
.results-list-outer {
  width: var(--resultsListWidth);
  background-color: bisque;
  position: absolute;
  top: var(--searchbarHeight);
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  overflow-y: scroll;
  z-index: 1;
  transition: var(--resultsListTransition);
  transition-timing-function: var(--resultsListTransitionTiming);
}

.results-list-inner {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.results-list-item {
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.results-list-item-active {
  border: 3px solid darkcyan;
}
